<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.damiangawenda.fhevaluation"
        version = "0.0.1">
    <name>Evaluation Prototyp</name>
    <description>
        Mobile Anwendung für Evaluation
    </description>
    <author>
        Teodora Petrisor, Damian Gawenda
    </author>
    <preference name="permissions" value="none" />
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation" value="portrait" />
	<preference name="android-installLocation" value="auto" />
	
	<!-- Platforms to install on -->
	<gap:platform name="ios" />
	<gap:platform name="android" />
	
	
	<!--Splashscreen support from PGB-->
	<!--preference name="show-splash-screen-spinner" value="true" />
	<preference name="splash-screen-duration" value="1500" /-->
	
	<!--Icon support from PGB-->
	<icon src="res/img/icons/icon.png" />
	
	<icon src="res/img/icons/android/ldpi/icLauncher.png" gap:platform="android" gap:density="ldpi" />
	<icon src="res/img/icons/android/mdpi/icLauncher.png" gap:platform="android" gap:density="mdpi" />
	<icon src="res/img/icons/android/hdpi/icLauncher.png" gap:platform="android" gap:density="hdpi" />
	<icon src="res/img/icons/android/xhdpi/icLauncher.png" gap:platform="android" gap:density="xhdpi" />
	
	<icon src="res/img/icons/apple/appletouchiconiphone.png" gap:platform="ios" width="57" height="57" />
	<icon src="res/img/icons/apple/appletouchiconipad.png" gap:platform="ios" width="72" height="72" />
	<icon src="res/img/icons/apple/appletouchiconiphone4.png" gap:platform="ios" width="114" height="114" />

	<!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<icon src="res/img/icons/apple/appletouchiconipad3.png" gap:platform="ios" width="144" height="144" />
	
	
</widget>